<div class="row">
    <div class="col-md-4">
        <img src="{{ data.data.sprites.front_shiny }}" alt="">
    </div>
    <div class="col-md-4">
        <div>
            
        </div>
        <div>
            <span>Bulbasaur</span>  
        </div>
        
        <div>
            <span>GRASS</span>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <span>Height: 0.7m</span>
        </div>
        <div>
            <span>Weight: 6.9kg</span>
        </div>
    </div>
</div>
